<!DOCTYPE html>
<title> CS Image Editor </title>
<!--   -->
<html>
<head>
<link rel="stylesheet" href="css/styleeditor.css">
<link rel="icon" href="images/image.png">
<link rel="import" href="url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans:300,400|Oswald:400,700');">
<meta charset="utf-8"/>
    <style type="text/css">

    </style>
</head>
<body>
<h2 class="text-center" style="color:white;">Edit Image</h2>
<br>
	<div class="Image-Edit-Card">
			<!-------->
		<div class="Image-Edit">
			<div class="Center">
<div class="RotateR">
	<div class="RotateL">
		<div class="FlipX">
			<div class="FlipY">
				<div class="Brightness">
					<div class="Grey">
						<div class="Blur">
	<img style="text-align:center;" id="image1" src="showImage()" alt="" height="auto" width="auto">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	</div>

<br id=Break class=Break>
<br>
<!--------> <!-------->
<b>
	<p style="font-size: 25px; color:white; text-shadow: 0px 0px 3px #000; text-align: center" > 
	<label for=blurInput>Blur</label>
	<br>
	<input type="range" id="blurInput" min="0"  max="10" step="1" value="0" onchange="Blur(this.value)" class=blurslider>
	<br>
	<!-------->
	<label for=greyInput>Greyscale</label>
	<br>
	<input type="range" id="greyInput" min="0" max="100" value="0" onchange="Grey(this.value)" class=greyscaleslider>
	<br>
	<!-------->
	<label for=brightInput>Brightness</label>
	<br>
	<input type="range" id="brightInput" min="0" max="200" step="5" value="100" onchange="Brightness(this.value)" class=brightnessslider>
	</p>
</b>
	
	<br>
	<!--------> <!-------->
	<b>
	<button style="font-family: Helvetica ; font-size: 20px; font-weight: bold; background-color: white; padding: 10px; box-shadow: 0px 0px 3px #000; margin: 20px" 
	onclick="FlipX()">Flip Horizontally</button>
	<!-------->
	<button style="font-family:Helvetica; font-size: 20px; font-weight: bold; background-color: white; padding: 10px; box-shadow: 0px 0px 3px #000; margin: 20px"  
	onclick="FlipY()">Flip Vertically</button>
	<!-------->
	<button style="font-family:Helvetica; font-size: 20px; font-weight: bold; background-color: white; padding: 10px; box-shadow: 0px 0px 3px #000; margin: 20px"   onclick="RotateR();Break()">Rotate Right</button>
	<!-------->
	<button style="font-family:Helvetica; font-size: 20px; font-weight: bold; background-color: white; padding: 10px; box-shadow: 0px 0px 3px #000; margin: 20px"   onclick="RotateL();Break()">Rotate Left</button>

	</b>	<!-------->
	</div>

</div>
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script>

	function success(data) {
		 image1.src = data.name;

	}
	function internet(data) {
		image1.src = data.name;
	}
	function showImage(data){
		$.get("/request", {index:0},internet);
		ImName=data.imageName
		return ImName;
	}
    $(document).ready(showImage);
</script>
	<!-------------------------------------->

<script type="text/javascript"></script>
<script>
        	// var _ = document.querySelector("html");
        	// _.className = ""
        	// _.classList.add()
		function Blur(_blurnum) {
			blurnum = _blurnum + "px"
	        document.documentElement.style.setProperty(`--blurnum`,blurnum)
	    } ///
	    function Grey(_greynum) {
			greynum = _greynum + "%"
	        document.documentElement.style.setProperty(`--greynum`,greynum)
	    } ///
	    function Brightness(_brightnum) {
			brightnum = _brightnum + "%"
	        document.documentElement.style.setProperty(`--brightnum`,brightnum)
	    } ///
	    //////////////////////////////////////////
	    	let flippedX = false
	    function FlipX() {
	    	if(flippedX == true) {
	    		document.documentElement.style.setProperty(`--flipx`,"1")
	    		flippedX = false
	    	}
	    	else if(flippedX != true) {
	    		document.documentElement.style.setProperty(`--flipx`,"-1")
	    		flippedX = true
	    	}
	    } ///
	    	let flippedY = false
	    function FlipY() {
	    	if(flippedY == true) {
	    		document.documentElement.style.setProperty(`--flipy`,"1")
	    		flippedY = false
	    	}
	    	else if(flippedY != true) {
	    		document.documentElement.style.setProperty(`--flipy`,"-1")
	    		flippedY = true
	    	}
	    } ///
			let degreeR = 90
	    function RotateR() {
	    	rotateR = degreeR + "deg"
	        document.documentElement.style.setProperty(`--rotateR`,rotateR)
	        degreeR += 90
	    } ///
	    	let degreeL = 90
	    function RotateL() {
	    	rotateL = degreeL + "deg"
	        document.documentElement.style.setProperty(`--rotateL`,rotateL)
	        degreeL -= 90
    } ///
	//////////////////////////////////////////
		let toggle = false
		let toggle2 = false
	function Break() {
			var img = document.getElementById("image1")
		if (toggle == true) {
				imagespace = (img.width - img.height) + "px"
			document.documentElement.style.setProperty(`--imagespace`,"imagespace")
			toggle = false
		}
		else {
				imagespace = (img.width - img.height)/2 + "px"
			document.documentElement.style.setProperty(`--imagespace`,imagespace)
			toggle = true
		}
		if(img.width <= img.height) { //If image is tall
			if(toggle2 == true) {//////card width decreasing/////
				document.documentElement.style.setProperty(`--cardwidth`,"auto")
				toggle2 = false
			}
			else {//////card width increasing/////
				cardwidth = img.height + "px"
				document.documentElement.style.setProperty(`--cardwidth`,cardwidth)
				toggle2 = true
			}
		}
	}
</script>
</body>
</html>
