text-shadow: 0px 0px 2px #ddd

}
.byname{
text-align: center;
font-size: 15px;
margin-bottom: 10px;
text-shadow: 0px 0px 2px #ddd
}
.Center{
	margin: auto;
	display: table;
	background: transparent;
	padding: 30px 40px;
	
}
.Image-Edit-Card{
	margin: auto;
	display: table;
	background: #fff;
	padding: 30px 40px;
	box-shadow: 0px 0px 2px #ddd;
}
/*Image editors///////////////////////*/
	.Blur{
		filter: blur(var(--blurnum));
	}
	.Grey{
		filter: grayscale(var(--greynum));
	}
	.Brightness{
		filter: brightness(var(--brightnum));
	}

/*Image transformers//////////////////*/
	.FlipX{ /*Flip Horizontally*/
		transform-origin: center;
		transform: scaleX(var(--flipx));
	}
	.FlipY{ /*Flip Vertically*/
		transform-origin: center;
		transform: scaleY(var(--flipy));
	}
	.RotateR{ /*90 degrees right*/
		transform-origin: center;
		transform: rotate(var(--rotateR))
	}
	.RotateL{ /*90 degrees Left*/
		transform-origin: center;
		transform: rotate(var(--rotateL))
	}
/*////////////////////////////////////*/
.Image-Edit{
	max-width: 100%;
	height: 100%;
	background: #fff;
	border-radius: 0%;
	overflow: hidden;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
	//outline: 2.2px groove black;

}

.profile-images img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.custom-file input[type='file']{
	display: none;
	
}

.custom-file label{
	cursor: pointer;
	color: #000;
	text-align: center;
	display: table;
	margin: auto;
	margin-top: 20px;
	outline: 1px groove black;
	background-color:#f2f2f2;
	//box-shadow: 0px 0px 5px #000;
}
.custom-file:hover label{
	cursor: pointer;
	color: #000;
	text-align: center;
	display: table;
	margin: auto;
	margin-top: 20px;
	outline: 1px groove black;
	background-color:#f2f2f2;
	opacity: 0.7;
	//box-shadow: 0px 0px 5px #000;
}

.edit label{

background: #0066A2;

color: white;

border-style: outset;

border-color: #0066A2;

height: 50px;

width: 100px;

font: bold 15px arial, sans-serif;

text-shadow:none;

}

body {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
